* {	padding: 0; margin: 0; vertical-align: top; }

html {
    
    width:  100%;
    height: 100%;
    margin:  0;
    padding: 0;
}

body {
	font: 18px/1.5em "proxima-nova", Helvetica, Arial, sans-serif;
    overflow-x:hidden;
    width:  100%;
    height:  100%;
}

a {	color: #069; }
a:hover { color: #28b; }

h3 {
	padding-left: 30px;
	font: normal 26px "omnes-pro", Helvetica, Arial, sans-serif;
	color: #666;
}

p {
	padding-top: 10px;
}

button {
	font-size: 18px;
	padding: 1px 7px;
}

input {
	font-size: 18px;
}

input[type=checkbox] {
	padding: 7px;
}



h2 {
	padding: 10px;
	vertical-align: middle;
	font-size: 42px;
	font-weight: bold;
	text-decoration: none;
	color: #000;
    text-align:center;
}

.content {
	width: 100%;
    height:  100%;
	padding: 10px;
}

.demo-container {
	box-sizing: border-box;
	width: 98%;
	height: 100%;
	padding: 20px 15px 15px 15px;
	background: #fff;
}

.placeholder100 {
	/*width: 95%;
    float: left;*/
    width:  100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
    padding:  5px;
    
}

.placeholder50 {
	width: 100%;
	height: 50%;
	font-size: 14px;
	line-height: 1.2em;
    padding:  5px;
}

#choices {
    float:  right;
}

.header {
    padding: 10px;
	vertical-align: middle;
	font-size: 42px;
	font-weight: bold;
	text-decoration: none;
	color: #000;
    text-align:center;
    background:  lightcyan;
}

.footer {
    padding: 10px;
	width: 100%;
	font-size: 14px;
	line-height: 1.2em;
    position: fixed;
    bottom: 0px;
    background:  lightcyan;
}

.demo-table table {
    margin:  0 auto;
}

.demo-table table td {
    padding-right: 20px;
    padding-left: 20px;
}


.demo-table table td td {
    padding-right: 5px;
    padding-left: 5px;
}

.demo-table table tr {
    padding: 5px;
}

.demo-table table tr tr {
    padding: 3px;
}

.legendXXX table {
	border-spacing: 5px;
}

#buttons {
    padding-top: 10px;
    text-align: center;
}



.pieLabel {
    font-size: 14pt;
}


 table, th, td {
    border: 1px solid black;
    border-collapse:collapse;
}

th,td
{
padding:5px;
}

th
{
text-align:left;
}

#dialog-form label, #dialog-form input { display:block; }

#dialog-form {
    width: 500px;
}

.sensordata .text {
    
    width:  400px;
}

.size18x18 {
    
    width:  18px;
    height: 18px;
}

.hidden {
    visibility: hidden;
}

.buttons {
    margin-top: 20px;
    margin-left: 600px;
    margin-bottom: 20px;
}

.buttons2 {
    margin-top: 20px;
    margin-left: 200px;
    margin-bottom: 20px;
}

#probeDefTable {
    
    margin-top: 20px;
}

#configTable td input {
    width: 450px;
    
}

.settingsiconright {
    position: absolute;
    top: 0px;
    right: 10px;
}

.settingsiconleft {
    position: absolute;
    top: 7px;
    right: 70px;
}

.updatedreading{
    color: red;
}

#circuitsTable td {
    text-align: center;
}